<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- PAGE METADATA -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flask Message Board</title>
        <meta name="description" content="Flask Message Board">
        <meta name="author" content="">		
        <meta name="subject" content="Flask Message Board">
        <link 
            rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link 
            rel="stylesheet" 
            href='/static/styles.css' 
        />
    </head>
    <body>
        <header>
            <h1>
                <a href="/">FlaskMessageBoard</a>
            </h1>
            <div id="header-links">
                <a href="/about">About</a>
            </div>
        </header>
        <main>
        <div id="main-content">
            <h2>About</h2>
            <br>
            <p>
                A simple social media message board made using Flask.
                Send message with a name and content and the server will 
                post them to the message board along with the time the 
                message was sent. You can also clear the chat logs.
            </p>
            <br>
            <p>
                Made by Opkar Ghadu -             
                <a 
                    href="http://www.opkarghadu.com">
                    opkarghadu.com
                </a>
            </p>
            <br/>
            <a 
                href="https://github.com/OpkarGhadu/Flask-Message-Board">
                <i class="fa fa-github" style="font-size:32px"></i>
            </a>
        </div>
        </main>
        <footer>
            <p id="copyright">&copy </p>

            <a 
                href="https://github.com/OpkarGhadu/Flask-Message-Board">
                <i class="fa fa-github" style="font-size:24px"></i>
            </a>
        </footer>
        <script src="../static/script.js"></script>
    </body>
</html>